In [27]:
import pandas as pd
import numpy as np
import json
import os,sys
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [28]:
manualSeed = 999
print("Random Seed: ", manualSeed)
random.seed(manualSeed)
torch.manual_seed(manualSeed)

Random Seed:  999

In [31]:
# !pip install pyreadstat

In [32]:
import pandas as pd
# import pyreadstat

In [58]:
# compas = pd.read_csv("../data/compas-scores-two-years.csv",error_bad_lines=False)
# lsac= pd.read_excel('../data/lawschs1_1.xls',header=None)
# df, meta = pyreadstat.read_sas7bdat('../data/lawschs1_1.sas7bdat')
# lsac = pd.read_sas('../data/lawschs1_1.sas7bdat')
## this data!
# lsac = pd.read_sas('../data/lsac.sas7bdat')
# lsac.to_csv('../data/lsac.csv')
lsac = pd.read_csv('../data/lsac.csv')

In [59]:
lsac

,Unnamed: 0,decile1b,decile3,ID,decile1,sex,race,cluster,lsat,ugpa,...,other,asian,black,hisp,pass_bar,bar,tier,index6040,indxgrp,indxgrp2
0,0,NaN,NaN,1.0,b'01',1.0,7.0,2.0,30.0,3.1,...,0.0,0.0,0.0,0.0,NaN,NaN,2.0,625.789460,b'e 580-640',b'e 580-640'
1,1,b'10',b'10',2.0,b'10',1.0,7.0,1.0,44.0,3.5,...,0.0,0.0,0.0,0.0,1.0,b'a Passed 1st time',4.0,886.842082,b'g 700+',b'i 820+'
2,2,b'05',b'04',3.0,b'05',1.0,7.0,2.0,29.0,3.5,...,0.0,0.0,0.0,0.0,1.0,b'a Passed 1st time',2.0,649.999987,b'f 640-700',b'f 640-700'
3,3,b'09',b'09',4.0,b'09',1.0,7.0,3.0,35.0,3.0,...,0.0,0.0,0.0,0.0,NaN,b'd Never took bar',3.0,694.736825,b'f 640-700',b'f 640-700'
4,4,NaN,NaN,5.0,b'09',1.0,7.0,2.0,39.0,2.9,...,0.0,0.0,0.0,0.0,NaN,NaN,2.0,747.894717,b'g 700+',b'g 700-760'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27473,27473,b'03',b'09',27474.0,b'04',2.0,7.0,3.0,29.5,3.5,...,0.0,0.0,0.0,0.0,1.0,b'a Passed 1st time',3.0,657.894724,b'f 640-700',b'f 640-700'
27474,27474,b'01',b'01',27475.0,b'01',2.0,3.0,3.0,33.0,3.1,...,0.0,0.0,1.0,0.0,0.0,b'c Failed',3.0,673.157879,b'f 640-700',b'f 640-700'
27475,27475,b'04',b'05',27476.0,b'04',2.0,7.0,3.0,32.0,3.0,...,0.0,0.0,0.0,0.0,1.0,b'a Passed 1st time',3.0,647.368406,b'f 640-700',b'f 640-700'
27476,27476,b'09',b'03',27477.0,b'09',2.0,8.0,4.0,36.0,3.2,...,1.0,0.0,0.0,0.0,1.0,b'a Passed 1st time',5.0,730.526298,b'g 700+',b'g 700-760'
27477,27477,NaN,NaN,27478.0,b'01',2.0,7.0,3.0,27.5,3.7,...,0.0,0.0,0.0,0.0,NaN,b'e non-Grad',3.0,646.315778,b'f 640-700',b'f 640-700'

In [60]:
lsac.columns

Index(['Unnamed: 0', 'decile1b', 'decile3', 'ID', 'decile1', 'sex', 'race',
       'cluster', 'lsat', 'ugpa', 'zfygpa', 'DOB_yr', 'grad', 'zgpa', 'bar1',
       'bar1_yr', 'bar2', 'bar2_yr', 'fulltime', 'fam_inc', 'age', 'gender',
       'parttime', 'male', 'race1', 'race2', 'Dropout', 'other', 'asian',
       'black', 'hisp', 'pass_bar', 'bar', 'tier', 'index6040', 'indxgrp',
       'indxgrp2'],
      dtype='object')

In [61]:
lsac = lsac.drop(['Unnamed: 0'],axis=1)

In [70]:
lsac.head()

,decile1b,decile3,ID,decile1,sex,race,cluster,lsat,ugpa,zfygpa,...,other,asian,black,hisp,pass_bar,bar,tier,index6040,indxgrp,indxgrp2
0,NaN,NaN,1.0,b'01',1.0,7.0,2.0,30.0,3.1,-1.79,...,0.0,0.0,0.0,0.0,NaN,NaN,2.0,625.789460,b'e 580-640',b'e 580-640'
1,b'10',b'10',2.0,b'10',1.0,7.0,1.0,44.0,3.5,1.33,...,0.0,0.0,0.0,0.0,1.0,b'a Passed 1st time',4.0,886.842082,b'g 700+',b'i 820+'
2,b'05',b'04',3.0,b'05',1.0,7.0,2.0,29.0,3.5,-0.11,...,0.0,0.0,0.0,0.0,1.0,b'a Passed 1st time',2.0,649.999987,b'f 640-700',b'f 640-700'
3,b'09',b'09',4.0,b'09',1.0,7.0,3.0,35.0,3.0,1.22,...,0.0,0.0,0.0,0.0,NaN,b'd Never took bar',3.0,694.736825,b'f 640-700',b'f 640-700'
4,NaN,NaN,5.0,b'09',1.0,7.0,2.0,39.0,2.9,0.88,...,0.0,0.0,0.0,0.0,NaN,NaN,2.0,747.894717,b'g 700+',b'g 700-760'

In [73]:
# Columns of interest  
df = lsac[['zfygpa','zgpa','DOB_yr','parttime','gender','race','tier','fam_inc','lsat','ugpa','pass_bar','index6040']].copy()
renameColumns={'gender':'sex',
               'index6040':'weighted_lsat_ugpa',
               'fam_inc':'family_income',
               'tier':'cluster_tier',
               'parttime':'isPartTime'}
target_variable = 'pass_bar'
target_value = 'Passed'

# Renaming columns
df = df.rename(columns = renameColumns)
columns = renameColumns.values()

# NaN in 'pass_bar' refer to dropouts. Considering NaN as failing the bar.
df['pass_bar'] = df['pass_bar'].fillna(value=0.0)
df['pass_bar'] = df.apply(lambda x: 'Passed' if x['pass_bar']==1.0 else 'Failed_or_not_attempted', axis=1).astype('category')

df['zfygpa'] = df['zfygpa'].fillna(value=0.0)
df['zgpa'] = df['zgpa'].fillna(value=0.0)
df['DOB_yr'] = df['DOB_yr'].fillna(value=0.0)
df = df.dropna()

# Binarize target_variable
df['isPartTime'] = df.apply(lambda x: 'Yes' if x['isPartTime']==1.0 else 'No', axis=1).astype('category')

print(df['sex'].unique())
print(df['race'].unique())

# Process protected-column values
race_dict = {3.0:'Black',7.0:'White'}
sex_dict = {"b'female'":'Female',"b'male'":'Male'}
df['race'] = df.apply(lambda x: race_dict[x['race']] if x['race'] in race_dict.keys() else 'Other', axis=1).astype('category')
df['sex'] = df.apply(lambda x: sex_dict[x['sex']] if x['sex'] in sex_dict.keys() else 'Other', axis=1).astype('category')

["b'female'" "b'male'"]
[7. 3. 4. 6. 2. 8. 1. 5.]

In [74]:
df.head()

,zfygpa,zgpa,DOB_yr,isPartTime,sex,race,cluster_tier,family_income,lsat,ugpa,pass_bar,weighted_lsat_ugpa
0,-1.79,0.00,68.0,No,Female,White,2.0,4.0,30.0,3.1,Failed_or_not_attempted,625.789460
1,1.33,1.88,69.0,No,Female,White,4.0,5.0,44.0,3.5,Passed,886.842082
2,-0.11,-0.57,69.0,No,Female,White,2.0,4.0,29.0,3.5,Passed,649.999987
3,1.22,0.95,58.0,Yes,Female,White,3.0,5.0,35.0,3.0,Failed_or_not_attempted,694.736825
4,0.88,0.00,51.0,Yes,Female,White,2.0,4.0,39.0,2.9,Failed_or_not_attempted,747.894717

In [76]:
print(df['isPartTime'].unique())
print(df['sex'].unique())
print(df['race'].unique())
print(df['pass_bar'].unique())
print(lsac['bar'].unique())

[No, Yes]
Categories (2, object): [No, Yes]
[Female, Male]
Categories (2, object): [Female, Male]
[White, Black, Other]
Categories (3, object): [White, Black, Other]
[Failed_or_not_attempted, Passed]
Categories (2, object): [Failed_or_not_attempted, Passed]
[nan "b'a Passed 1st time'" "b'd Never took bar'" "b'c Failed'"
 "b'b Passed 2nd time'" "b'e non-Grad'"]

In [78]:
df_proc = df.copy()
race_map = {'Black':1.0,'White':0.0,'Other':2.0}
sex_map = {'Female':1.0,'Male':0.0}
bar_map = {'Passed':1.0, 'Failed_or_not_attempted':0.0}
part_map = {'Yes':1.0,'No':0.0}

df_proc['race'] = df_proc.apply(lambda x: race_map[x['race']], axis=1)
df_proc['sex'] = df_proc.apply(lambda x: sex_map[x['sex']], axis=1)
df_proc['pass_bar'] = df_proc.apply(lambda x: bar_map[x['pass_bar']], axis=1)
df_proc['isPartTime'] = df_proc.apply(lambda x: part_map[x['isPartTime']], axis=1)

In [79]:
df_proc.head()

,zfygpa,zgpa,DOB_yr,isPartTime,sex,race,cluster_tier,family_income,lsat,ugpa,pass_bar,weighted_lsat_ugpa
0,-1.79,0.00,68.0,0.0,1.0,0.0,2.0,4.0,30.0,3.1,0.0,625.789460
1,1.33,1.88,69.0,0.0,1.0,0.0,4.0,5.0,44.0,3.5,1.0,886.842082
2,-0.11,-0.57,69.0,0.0,1.0,0.0,2.0,4.0,29.0,3.5,1.0,649.999987
3,1.22,0.95,58.0,1.0,1.0,0.0,3.0,5.0,35.0,3.0,0.0,694.736825
4,0.88,0.00,51.0,1.0,1.0,0.0,2.0,4.0,39.0,2.9,0.0,747.894717

In [80]:
df_proc.to_csv('../data/lsac_proc.csv')

In [83]:
df_proc[['race','sex']].values

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [0., 0.],
       [2., 0.],
       [0., 0.]])

In [84]:
attrs = df.columns
target_attr = ['pass_bar']
sensitive_attrs = ['sex']
attrs_to_ignore = ['race','sex']
attrs_for_classification = set(attrs) - set(attrs_to_ignore) - set(target_attr)
X = df[attrs_for_classification].values
y = df[target_attr].values
Z = df[sensitive_attrs].values

In [85]:
print(X.shape,y.shape,Z.shape)

(26551, 9) (26551, 1) (26551, 1)

In [89]:
from load_data import *

In [ ]:
Xtr, Xte, ytr, yte, Ztr, Zte = load_lsac_data()